<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ADD EXPENSE/ INCOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment  (ionChange)="toggleEntryType()" class="segment ion-margin" mode="ios" [(ngModel)]="entryType">
    <ion-segment-button value="expense">
      <ion-label>Expense</ion-label>
    </ion-segment-button>
    <ion-segment-button value="income">
      <ion-label>Income</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-item >
    <ion-label>Amount :- </ion-label>
    <ion-input [(ngModel)]="expense.amount" type="number"></ion-input>
  </ion-item>
  
  <ion-item *ngIf="showExpenseForm">
    <ion-label>Description :- </ion-label>
    <ion-input [(ngModel)]="expense.description" type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="showExpenseForm">
    
    <ion-select [(ngModel)]="expense.expenseType" placeholder="Expense Type" interface="popover">
      <ion-select-option value="grocery">Grocery</ion-select-option>
      <ion-select-option value="entertainment">Entertainment</ion-select-option>
      <ion-select-option value="others">Others</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="!showExpenseForm">
    
    <ion-select [(ngModel)]="expense.expenseType" placeholder="income type" interface="popover">
      <ion-select-option value="salary">Salary</ion-select-option>
      
      <ion-select-option value="incomeOthers">Others</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-button class="ion-margin" (click)="addExpenseHandler()" expand="full">{{showExpenseForm?'Add Expense':'Add Income'}}</ion-button>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
